Flask==3.1.1
Werkzeug==3.1.3
extract-msg==0.55.0
requests==2.32.4
gunicorn==23.0.0
python-dateutil==2.9.0
redis==6.4.0
compressed-rtf==1.0.7
google-genai==1.30.0
bcrypt==4.3.0
gevent==25.5.1
Flask-Session==0.8.0